@model AsusGigaInsp.Models.LoginModels

@{
    /**/

    ViewBag.Title = "SIVA";
}

<link href="~/Content/Login.css" rel="stylesheet" />

@Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
@using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "form-signin" }))
{
    <div class="wrapper container body-content">
        <h3 class="form-signin-heading">Welcome Back To<br><br><span class="TitleNameLogo">SIVA</span><br /><br />Status Inspection Verify Assistant</h3>
        <hr class="colorgraph"><br>
        <input type="text" class="form-control" name="Id" placeholder="Id" required="" autofocus="" />
        <input type="password" class="form-control" name="Password" placeholder="Password" required="" />
        <button class="btn btn-lg btn-primary btn-block" name="submit" value="Login" type="submit">Login</button>
    </div>
}

<!-- 管理者以外の時のライン選択 ------------------------------------------------------------>
<div class="modal fade" tabindex="-1" role="dialog" id="LineSelectModal" aria-labelledby="label1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ライン選択</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form role="form" id="modalForm" action="/Auth/SelectLine" method="POST">
                <!-- Modal ボディー -->
                <div class="modal-body">
                    <div class="form-row" style="margin-bottom: 10px;">
                        @Html.DropDownListFor(
                             model => model.CondLineID, // プロパティ
                             new SelectList(Model.DropDownListLine, "LineID", "LineName"),
                             new { @class = "form-control form-control-sm", style = "max-width:100px;" }
                         )
                    </div>
                </div>
                <!-- Modal フッター -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">閉じる</button>
                    <button type="submit" class="btn btn-primary" id="chgDateSub" value="dateup">選択</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        // 画面表示時処理
        var ControllAction = "@ViewBag.ControllAction"
        switch (ControllAction) {
            case "LineSelect":
                $('#LineSelectModal').modal();
                break;
            default:
                break;
        }
    });
</script>
