table {
    font-size: 13px;
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: #FFFF99;
}

.table .thead-light th {
    color: #FFFFFF;
    background-color: #FF4F02;
}

.form-control-sm {
    margin-top: 3px;
    margin-right: 20px;
    margin-bottom: 3px;
    margin-left: 5px;
}

.col-form-label-sm {
    margin: 1px;
}

.h6 {
    margin-bottom: initial;
}

input:focus, select:focus, textarea:focus {
    background-color: #fff8dc;
}

.box26 {
    /*position: relative;*/
    /*margin: 2px 0;*/
    padding: 0.5em 0em 0.2em;
    border: solid 3px #95ccff;
    border-radius: 8px;
    text-align: center;
}

    .box26 .box-title {
        position: absolute;
        display: inline-block;
        top: -5px;
        left: -10px;
        /*padding: 0 4px;*/
        line-height: 1;
        font-size: 14px;
        background: #FFF;
        color: #95ccff;
        font-weight: bold;
    }

    .box26 p {
        margin: 0;
        padding: 0;
    }
