table {
    font-size: 13px;
    border: 2px solid;
}

    table th {
        border: 1px solid;
        border-color:orange;
        border-bottom: 2px solid;
        text-align: center;
    }

    table td {
        border: 1px solid orange;
        text-align: right;
    }
.table-hover tbody tr:hover {
    color: #212529;
    background-color: #FFFF99;
    border-top: 2px solid;
}

.table .thead-light th {
    color: #FFFFFF;
    background-color: royalblue;
    vertical-align: middle;
    border-bottom: 2px solid;
    border-color: black;
    border-bottom-color: black;
}

.form-control-sm {
    margin: 3px 20px 3px 5px;
}