table {
    font-size: 13px;
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: #FFFF99;
}

.table .thead-light th {
    color: #FFFFFF;
    background-color: #FF4F02;
}

.form-control-sm {
    margin-top: 3px;
    margin-right: 20px;
    margin-bottom: 3px;
    margin-left: 5px;
}