table {
    font-size: 13px;
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: #FFFF99;
}

.table .thead-light th {
    color: #000000;
    background-color: #6cf5d1;
    vertical-align:middle;
}

.form-control-sm {
    margin: 3px 20px 3px 5px;
}

/* ソート前の状態 */
.tablesorter-headerUnSorted {
    background-image: url('../img/sort.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 15px;
}

/* 昇順ソート後の状態 */
.tablesorter-headerAsc {
    background-image: url('../img/sort_asc.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    border-bottom: #000 2px solid;
    background-size: 13px;
}

/* 降順ソート後の状態 */
.tablesorter-headerDesc {
    background-image: url('../img/sort_desc.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    border-bottom: #000 2px solid;
    background-size: 13px;
}

/* ソート無効列 */
.sorter-false {
    background-image: none;
}

.ui-datepicker-title {
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.ui-datepicker select.ui-datepicker-year {
    margin-right: 0.1rem;
    width: auto;
}

.ui-datepicker select.ui-datepicker-month {
    margin-left: 0.3rem;
    width: auto;
}

.ui-datepicker {
    font-size: 100%;
}

/* 凡例モーダルの設定 */
.modal {
    position:fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
}
.sticky_table thead th {
    /* スクロール時に固定する */
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    /* tbody内のセルより手前に表示する */
    z-index: 1;
}

.fixed_btn1 {
    position: fixed;
    bottom: 10px;
    right: 130px;
    padding: 6px 40px;
}

.fixed_btn2 {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 6px 40px;
}


