table {
    font-size: 13px;
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: #FFFF99;
}

.table .thead-light th {
    color: #000000;
    background-color: #6cf5d1;
    vertical-align:middle;
}

.form-control-sm {
    margin: 3px 20px 3px 5px;
}

.tablesorter-headerUnSorted {
    background-image: url('../img/sort.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 15px;
}

.tablesorter-headerAsc {
    background-image: url('../img/sort_asc.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    border-bottom: #000 2px solid;
    background-size: 13px;
}

.tablesorter-headerDesc {
    background-image: url('../img/sort_desc.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    border-bottom: #000 2px solid;
    background-size: 13px;
}

.sorter-false {
    background-image: none;
}

.ui-datepicker-title {
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.ui-datepicker select.ui-datepicker-year {
    margin-right: 0.1rem;
    width: auto;
}

.ui-datepicker select.ui-datepicker-month {
    margin-left: 0.3rem;
    width: auto;
}

.ui-datepicker {
    font-size: 100%;
}

.modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
}

/* オーバーレイのスタイル */
.overLay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(200,200,200,0.9);
    width: 100%;
    height: 100vh;
    z-index: 10;
}
